<header>
   <button class="toggler" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 30" role="img">
         <title>Menu</title>
         <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
               d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
   </button>
   <a class="brand" href="/" aria-label="Murk">
      <img src="/brand/murk-logo.svg" alt="Murk" height="26" />
      Murk</a>
   <ul class="d-none d-md-flex">
      <li><a href="/">Home</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/">Docs</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
   </ul>
</header>

