// Components

//$component-active-color:      $white !default;
$component-active-bg: $primary !default;

$border-width:        1px !default;

$border-radius:       .25rem !default;
$border-radius-sm:    .2rem !default;
$border-radius-lg:    .3rem !default;

$transition-base:     all .2s ease-in-out !default;
//$transition-fade:     opacity .15s linear !default;
//$transition-collapse: height .35s ease !default;
