// Options

// fusv-disable
$mobile-breakpoint:      md !default;
$enable-rfs:             true !default;
$enable-rounded:         true !default;
$enable-button-pointers: true !default;
$enable-shadows:         true !default;
$enable-transitions:     true !default;
$enable-reduced-motion:  true !default;
$enable-gradients:       true !default;
// fusv-enable
