// Tables

$table-cell-padding-y:      .5rem !default;
//$table-cell-padding-x:    .5rem !default;
//$table-cell-padding-y-sm: .25rem !default;
//$table-cell-padding-x-sm: .25rem !default;

//$table-cell-vertical-align: top !default;

//$table-color:               $body-color !default;
//$table-bg:                  transparent !default;

$table-th-font-weight:      null !default;

$table-caption-color:       $text-muted !default;
