{
   "extends": [
      "stylelint-config-recommended-scss"
   ],
   "rules": {
      "no-descending-specificity": null,
      "function-blacklist": [
         "calc"
      ],
      "scss/no-duplicate-mixins": true,
      "scss/dollar-variable-default": [
         true,
         {
            "ignore": "local"
         }
      ]
   }
}
