// Border-radius

@function valid-radius($radius) {
   $return: ();
   @each $value in $radius {
      @if (type_of($value) == number) {
         $return: append($return, max($value, 0));
      } @else {
         $return: append($return, $value);
      }
   }
   @return $return;
}

@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
   @if ($enable-rounded) {
      border-radius: valid-radius($radius);
   } @else if ($fallback-border-radius != false) {
      border-radius: $fallback-border-radius;
   }
}
