// Code

$code-font-size:         $small-font-size !default;
$code-color:             $blue !default;

$pre-color:              null !default;

$kbd-padding-y:          .2rem !default;
$kbd-padding-x:          .4rem !default;
$kbd-font-size:          $code-font-size !default;
$kbd-color:              $dark !default;
$kbd-bg:                 $light !default;

$nested-kbd-font-weight: $font-weight-bold !default;
