// Links

$link-color:               $primary !default;
$link-decoration:          underline !default;
$link-hover-color:         lighten($link-color, 15%) !default;
$link-hover-decoration:    null !default;
