// Header

$header-height:                40px !default;

//$header-padding-y:             $spacer / 2 !default;
//$header-padding-x:             $spacer !default;

$header-nav-link-padding-x:    .5rem !default;

$header-brand-width:           auto !default;
$header-brand-minimized-width: 56px !default;

//$header-brand-padding-y:       ($nav-link-height - $header-brand-height) / 2 !default;

$header-brand-font-size:       $font-size-base !default;
$header-brand-font-weight:     700 !default;
$header-brand-height:          $header-brand-font-size * $line-height-base !default;

// Toggler
$header-toggler-bg:            transparent !default;
$header-toggler-font-size:     $font-size-base !default;
$header-toggler-border:        0 !default;
$header-toggler-border-radius: $button-border-radius !default;
$header-toggler-height:        $header-height !default;

// Themes
$header-light-bg:              $light !default;
//$header-light-color:           rgba($black, .5) !default;
//$header-light-hover-color:     rgba($black, .7) !default;

$header-dark-bg:               $gray-90 !default;
$header-dark-color:            rgba($white, .75) !default;
$header-dark-hover-color:      rgba($white, .9) !default;
