// Nav

// fusv-disable

// Container
$nav-width:                   256px !default;
$nav-sm-width:                192px !default;
$nav-lg-width:                320px !default;
$nav-xl-width:                384px !default;

$nav-widths:                  (
                                 //sm: 192px,
                                 lg: 320px,
                                 //xl: 384px
                              ) !default;

$nav-padding:                 0 !default;
$nav-minimized-width:         56px !default;
$nav-minimized-height:        $nav-minimized-width !default;

// Color
$nav-color:                   rgba($white, .75) !default;
$nav-bg:                      rgba($night, .75) !default;
$nav-borders:                 none !default;

// Brand
$nav-brand-height:            56px !default;
$nav-brand-color:             $white !default;
$nav-brand-bg:                rgba($night, .75) !default;

// Header
$nav-header-height:           56px !default;
$nav-header-padding-y:        .75rem !default;
$nav-header-padding-x:        1rem !default;
$nav-header-bg:               rgba($night, .2) !default;

// List Navigation
$nav-list-title-padding-y:    .75rem !default;
$nav-list-title-padding-x:    1rem !default;
$nav-list-title-margin-top:   1rem !default;

$nav-list-link-padding-y:     .8445rem !default;
$nav-list-link-padding-x:     1rem !default;
$nav-list-link-color:         rgba($white, .8) !default;
$nav-list-link-bg:            transparent !default;
$nav-list-link-borders:       0 !default;

$nav-list-link-color-hover:   $white !default;
$nav-list-link-bg-hover:      $primary !default;
$nav-list-link-borders-hover: 0 !default;
// fusv-enable