// Header

header {
   position:       relative;
   display:        flex;
   flex-direction: row;
   flex-wrap:      wrap;
   flex-shrink:    0;
   min-height:     $header-height;
   background:     $header-bg;
   @include borders($header-border);

   &[class*="bg-"] {
      border-color: rgba($black, .1);
   }

   &.fixed {
      position: fixed;
      right:    0;
      left:     0;
      z-index:  $zindex-fixed - 1;
   }

   &.sub {
      border-bottom: 0;
      margin-top:    -1px;
      border-top:    $subheader-separator;
   }


   .brand {
      display:         inline-flex;
      align-items:     center;
      justify-content: center;
      width:           $header-brand-width;
      min-width:       $header-brand-minimized-width;
      min-height:      $header-height;
      font-weight:     $header-brand-font-weight;
      transition:      width $transition-speed;
      padding-right:   $header-nav-link-padding-x;
      padding-left:    $header-nav-link-padding-x;
      @include font-size($header-brand-font-size);
      margin:          0;

      img {
         max-height:    $header-height;
         padding-right: $header-nav-link-padding-x;
      }
   }

   .brand,
   .brand a {
      color:            $header-brand-color;
      background-color: $header-brand-bg;
      //@include borders($header-brand-border);

      &:hover, &:focus {
         color:            $header-brand-hover-color;
         background-color: $header-brand-hover-bg;
      }
   }

   .toggler {
      display:          inline-flex;
      align-items:      center;
      justify-content:  center;
      background-color: $header-toggler-bg;
      padding:          0;
      min-width:        $header-toggler-height;
      @include font-size($header-toggler-font-size);
      border:           0;
      @include borders($header-toggler-border);
      @include border-radius($header-toggler-border-radius);

      &:hover,
      &:focus {
         color:      $primary;
         border:     $header-toggler-border-hover;
         box-shadow: none;
         outline:    0;
      }

      &:hover {
         text-decoration: none;
      }

      .icon {
         display:             block;
         height:              $header-toggler-font-size * 1.25;
         background-repeat:   no-repeat;
         background-position: center center;
         background-size:     100% 100%;
      }
   }

   ul {
      display:        flex;
      flex-direction: row;
      align-items:    center;
      min-height:     $header-height;
      padding:        0;
      margin-bottom:  0;
      list-style:     none;

      li {
         position: relative;

         a,
         button {
            display:       flex;
            align-items:   center;
            min-height:    $header-height;
            padding-right: $header-nav-link-padding-x;
            padding-left:  $header-nav-link-padding-x;
            color:         $header-color;
            //@include borders($header-border);

            &:hover,
            &:focus {
               text-decoration:  none;
               color:            $header-hover-color;
               background-color: $header-hover-bg;
               //@include borders($header-hover-border);
            }
         }
      }
   }
}
